<template>
  <admin-app-layout>
    <bread-cumb Route="users.create" Title="Users" SubTitle="All" />

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List Users</h5>
            <div class="row">
              <div class="col-sm-12">
                <div class="row mt-5">
                  <div class="table-responsive">
                    <table
                      class="table color-bordered-table red-bordered-table"
                    >
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="user in users" :key="user.id">
                          <td>{{ user.id }}</td>
                          <td>{{ user.name }}</td>
                          <td>{{ user.email }}</td>
                          <td>
                            <span
                              class="badge badge-pill badge-info"
                              v-for="role in user.roles"
                              :key="role.id"
                              >{{ role.name }}</span
                            >
                          </td>
                          <td style="text-align: center">
                            <div class="btn btn-block btn-outline-success">
                              <button
                                type="button"
                                @click="this.edit()"
                                class="
                                  ml-2
                                  btn
                                  waves-effect waves-light
                                  btn-rounded btn-xs btn-primary
                                "
                              >
                                UNBLOCK
                              </button>

                           
                              <inertia-link  :href="route('users.edit',user.id)" class="btn btn-info  ml-2"> <i class="fa fa-plus-circle "></i>EDIT</inertia-link>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </admin-app-layout>
</template>


<script>
import AdminAppLayout from '../../Layouts/AdminAppLayout.vue';
import BreadCumb from '../../Layouts/partial/BreadCumb.vue';
export default {
  components: {
    AdminAppLayout,
    BreadCumb,
 
  },

  props: ["users"],

  data() {
    return {};
  },
  mounted() {},
  methods: {
    edit(){
     this.$root.show_swal("Something went wrong!", "error");
    }
  },
};
</script>
