<template>
    <admin-app-layout>
        
    </admin-app-layout>
</template>

<script>
import AdminAppLayout from '../Layouts/AdminAppLayout.vue'

    export default {
  components: { AdminAppLayout },
        AdminAppLayout: {
        },
    }
</script>
