<template>
        <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">{{Title}}</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="javascript:void(0)">{{Title}}</a>
                  </li>
                  <li class="breadcrumb-item active">{{SubTitle}}</li>
                </ol>
                <inertia-link  :href="route(Route)" class="btn btn-info d-none d-lg-block m-l-15"> <i class="fa fa-plus-circle"></i>Create New</inertia-link>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
</template>

<script>
export default {
props: ['Title', 'Route','SubTitle']
}
</script>

<style>

</style>