<template>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- User Profile-->
      <div class="user-profile">
        <div class="user-pro-body">
          <div>
            <img
              src="/assets/images/users/2.jpg"
              alt="user-img"
              class="img-circle"
            />
          </div>
          <div class="dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle u-dropdown link hide-menu"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Steave Gection <span class="caret"></span
            ></a>
            <div class="dropdown-menu animated flipInY">
              <!-- text-->
              <a :href="route('profile.dashboard')" class="dropdown-item"
                ><i class="ti-user"></i> My Profile</a
              >
              <!-- text-->
              <a href="javascript:void(0)" class="dropdown-item"
                ><i class="ti-wallet"></i> My Balance</a
              >
              <!-- text-->
              <a href="javascript:void(0)" class="dropdown-item"
                ><i class="ti-email"></i> Inbox</a
              >
              <!-- text-->
              <div class="dropdown-divider"></div>
              <!-- text-->
              <a href="javascript:void(0)" class="dropdown-item"
                ><i class="ti-settings"></i> Account Setting</a
              >
              <!-- text-->
              <div class="dropdown-divider"></div>
              <!-- text-->
              <a href="pages-login.html" class="dropdown-item"
                ><i class="fas fa-power-off"></i> Logout</a
              >
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="nav-small-cap">--- MAIN MENU</li>
          <li>
           <inertia-link :href="route('dashboard')">
              <i class="icon-speedometer"></i>
              <span class="hide-menu">Dashboard</span>
            </inertia-link>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-envelope-open"></i
              ><span class="hide-menu">Mailbox</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><a href="app-email.html">Mailbox</a></li>
              <li><a href="app-email-detail.html">Mailbox Detail</a></li>
              <li><a href="app-compose.html">Compose Mail</a></li>
            </ul>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">User Management</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><inertia-link :href="route('users.index')">Users</inertia-link></li>
              <li><inertia-link :href="route('roles.index')">Roles</inertia-link></li>
            </ul>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">Area Management</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><inertia-link :href="route('branch.index')">Branch</inertia-link></li>
              <li><inertia-link :href="route('center.index')">Center</inertia-link></li>
              <li><inertia-link :href="route('group.index')">Group</inertia-link></li>
            </ul>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">Loan Management</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><inertia-link :href="route('loan-category.index')">Loan Category</inertia-link></li>
              <li><inertia-link :href="route('loan.index')">Loan</inertia-link></li>
            </ul>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">Borrower Management</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><inertia-link :href="route('borrower.index')">Borrower</inertia-link></li>
            </ul>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">Repayment Management</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><inertia-link :href="route('repayment.office')">Office</inertia-link></li>
              <li><inertia-link :href="route('repayment.center')">From Center</inertia-link></li>
            </ul>
          </li>
          <li class="nav-small-cap">--- PROFESSIONAL</li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-people"></i
              ><span class="hide-menu">Leads</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><a href="crm-leads.html">All Leads</a></li>
              <li><a href="crm-add-leads.html">Add Leads</a></li>
              <li><a href="crm-edit-leads.html">Edit Leads</a></li>
            </ul>
          </li>

          <li class="nav-small-cap">--- SUPPORTS</li>
          <li>
            <a
              class="waves-effect waves-dark"
              href="pages-login.html"
              aria-expanded="false"
            >
              <i class="icon-logout"></i>
              <span class="hide-menu">Log Out</span>
            </a>
          </li>
          <li>
            <a
              class="has-arrow waves-effect waves-dark"
              href="javascript:void(0)"
              aria-expanded="false"
              ><i class="icon-layers"></i
              ><span class="hide-menu">Multi level dd</span></a
            >
            <ul aria-expanded="false" class="collapse">
              <li><a href="javascript:void(0)">item 1.1</a></li>
              <li><a href="javascript:void(0)">item 1.2</a></li>
              <li>
                <a
                  class="has-arrow"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  >Menu 1.3</a
                >
                <ul aria-expanded="false" class="collapse">
                  <li><a href="javascript:void(0)">item 1.3.1</a></li>
                  <li><a href="javascript:void(0)">item 1.3.2</a></li>
                  <li><a href="javascript:void(0)">item 1.3.3</a></li>
                  <li><a href="javascript:void(0)">item 1.3.4</a></li>
                </ul>
              </li>
              <li><a href="javascript:void(0)">item 1.4</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
</template>

<script>
export default {
  mounted() {
    $(function () {
      var url = window.location;
      var element = $("ul#sidebarnav a")
        .filter(function () {
          return this.href == url;
        })
        .addClass("active")
        .parent()
        .addClass("active");
      var elements = $("ul#sidebarnav ul li a")
        .filter(function () {
          return this.href == url;
        })
        .addClass("active")
        .parent()
        .addClass("active");

      while (true) {
        if (element.is("li")) {
          element = element
            .parent()
            .addClass("in")
            .parent()
            .addClass("active")
            .children("a")
            .addClass("active");
        } else {
          break;
        }
      }

      while (true) {
        if (elements.is("li")) {
          elements = elements
            .parent()
            .parent()
            .parent()
            .addClass("in")
            .parent()
            .addClass("active")
            .children("a")
            .addClass("active");
        } else {
          break;
        }
      }

      $("#sidebarnav a").on("click", function (e) {
        if (!$(this).hasClass("active")) {
          // hide any open menus and remove all other classes
          $("ul", $(this).parents("ul:first")).removeClass("in");
          $("a", $(this).parents("ul:first")).removeClass("active");

          // open our new menu and add the open class
          $(this).next("ul").addClass("in");
          $(this).addClass("active");
        } else if ($(this).hasClass("active")) {
          $(this).removeClass("active");
          $(this).parents("ul:first").removeClass("active");
          $(this).next("ul").removeClass("in");
        }
      });
      $("#sidebarnav >li >a.has-arrow").on("click", function (e) {
        e.preventDefault();
      });
    });
  }
};
</script>

<style>
</style>